 ------
 Introduction
 ------
 Ebrahim Aharpour
 ------
 2013-05-18
 ------


Hippo Maven Plugin

 The Hippo Maven Plugin is used to generate beans for a Hippo CMS project.

* Goals Overview

   The Site Plugin has seven goals:

   * {{{./generate-mojo.html}hippo:generate}} is used to generate Hippo Beans for defined Content types of Hippo CMS. 

* Usage

  General instructions on how to use the Hippo Maven Plugin can be found on the {{{./usage.html}usage page}}. 
  
  If you feel like the plugin is missing a feature or has a defect, you can fill a feature request or bug report in our 
  {{{https://sourceforge.net/p/mavenhippo/tickets/?source=navbar}issue tracker}}. When creating a new issue, please provide a comprehensive description of your
  concern. Especially for fixing bugs it is crucial that the developers can reproduce your problem. For this reason,
  entire debug logs, POMs or most preferably little demo projects attached to the issue are very much appreciated.
  Of course, patches are welcome, too. Contributors can check out the project from our
  {{{http://sourceforge.net/p/mavenhippo/code/HEAD/tree/}source repository}} and will find supplementary information in the
  {{{http://maven.apache.org/guides/development/guide-helping.html}guide to helping with Maven}}.